<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Comport</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon.png" type="image/x-icon">
    <!-- CSS Files -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/font-awesome-4.7.0.min.css" th:href="@{/css/font-awesome-4.7.0.min.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/fonts/flat-icon/flaticon.css">
    <link href="../static/css/bootstrap-4.1.3.min.css" th:href="@{/css/bootstrap-4.1.3.min.css}" rel="stylesheet" />
    <link href="../static/css/owl-carousel.min.css" th:href="@{/css/owl-carousel.min.css}" rel="stylesheet" />
    <link href="../static/css/nice-select.css" th:href="@{/css/nice-select.css}" rel="stylesheet" />
    <link href="../static/css/animate-3.7.0.css" th:href="@{/css/animate-3.7.0.css}" rel="stylesheet" />
    <link href="../static/css/logstyle.css" th:href="@{/css/logstyle.css}" rel="stylesheet" />


    <!--<link rel="stylesheet" href="../static/css/style.css">-->

    <title>Welcome home page</title>




    <style>

        .modal {
            background-image: url("https://media.giphy.com/media/3ohhwrc9cS3agj4afC/giphy.gif");
          width: auto;
          background-size: 100%;
        }

    </style>


</head>
<body>

<!-- Preloader Starts -->
<div class="preloader">
    <div class="spinner"></div>
</div>
<!-- Preloader End -->

<!-- Header Area Starts -->
<header class="header-area main-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo-area">
                    <a href="index.html"><img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="logo"></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="custom-navbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="main-menu">
                    <ul>
                        <li class="active"><a th:href="@{/user/Logdata}">home</a></li>
                        <li><a href="about.html">about</a></li>
                        <!--<li><a href="job-category.html">category</a></li>-->
                        <!--<li><a href="#">blog</a>-->
                            <!--<ul class="sub-menu">-->
                                <!--<li><a href="blog-home.html">Blog Home</a></li>-->
                                <!--<li><a href="blog-details.html">Blog Details</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li><a href="contact-us.html">contact</a></li>-->
                        <li><a href="#">Login</a>
                            <ul class="sub-menu">
                                <li><a href="#" onclick="document.getElementById('id01').style.display='block'" >Admin Login</a></li>
                                <li><a href="#" onclick="document.getElementById('id03').style.display='block'">Student Login</a></li>
                            </ul>
                        </li>

                        <li><a href="#"><font color="red">Sign Up</font></a>
                            <ul class="sub-menu">
                                <li> <a href="#" onclick="document.getElementById('id02').style.display='block'" >Admin sign up</a></li>
                                <li><a href="#"  onclick="document.getElementById('id04').style.display='block'">Student sign up</a></li>
                            </ul>
                        </li>
                        <!--<li class="menu-btn">-->
                            <!--&lt;!&ndash;<a href="#"  class="login">log in</a>&ndash;&gt;-->
                            <!--<a href="#" onclick="document.getElementById('id02').style.display='block'" class="template-btn">sign up</a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

<!-- Banner Area Starts -->
<section class="banner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 px-0">
                <div class="banner-bg"></div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="banner-text">
                    <h1>find your dream <span>job</span> with comport</h1>
                    <p class="py-3">Wherein herb beginning. Moved after gathering. Sea hi crate fowl man replenish place divided likeness herb one two lnetn Winged moving saw, may over.</p>
                    <a href="#" class="secondary-btn">explore now<span class="flaticon-next"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->

<!-- Category Area Starts -->
<section class="category-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top text-center">
                    <h2>Find job by category</h2>
                    <p>Open lesser winged midst wherein may morning</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-category text-center mb-4">
                    <img src="../static/images/cat1.png" th:src="@{/images/cat1.png}" alt="category">
                    <h4>accounting & Finance</h4>
                    <h5>250 open job</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-category text-center mb-4">
                    <img src="../static/images/cat2.png" th:src="@{/images/cat2.png}" alt="category">
                    <h4>production & operation</h4>
                    <h5>250 open job</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-category text-center mb-4">
                    <img src="../static/images/cat3.png" th:src="@{/images/cat3.png}" alt="category">
                    <h4>telecommunication</h4>
                    <h5>250 open job</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-category text-center mb-4">
                    <img src="../static/images/cat4.png" th:src="@{/images/cat4.png}" alt="category">
                    <h4>garments & textile</h4>
                    <h5>250 open job</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-category text-center mb-4 mb-lg-0">
                    <img src="../static/images/cat5.png" th:src="@{/images/cat5.png}" alt="category">
                    <h4>marketing and sales</h4>
                    <h5>250 open job</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-category text-center mb-4 mb-lg-0">
                    <img src="../static/images/cat6.png" th:src="@{/images/logo/favicon.png}" alt="category">
                    <h4>engineer & architech</h4>
                    <h5>250 open job</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-category text-center mb-4 mb-md-0">
                    <img src="../static/images/cat7.png" th:src="@{/images/cat7.png}" alt="category">
                    <h4>design & crative</h4>
                    <h5>250 open job</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-category text-center">
                    <img src="../static/images/cat8.png" th:src="@{/images/cat8.png}" alt="category">
                    <h4>customer support</h4>
                    <h5>250 open job</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category Area End -->

<div id="id01" class="modal">

    <form class="modal-content animate"action="#" th:action="@{/user/login}" th:object="${user}" method="POST">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <!--<img src="https://4.bp.blogspot.com/-6LUFeou1vJM/W3U0KMzAtqI/AAAAAAAADYM/NaNjmPqLwOYY5eYpkQ6dZ_Vr63HjjBf9gCLcBGAs/s1600/man-working-laptop.gif" alt="Avatar" class="avatar">-->
        </div>

        <div class="container">
            <label ><b>User Name: </b></label>
            <input type="text" th:field="*{username}" />

            <label ><b>Password</b></label>
            <input type="password" th:field="*{password}" />

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>

<div id="id02" class="modal">

    <form class="modal-content animate"action="#" th:action="@{/user/register}" th:object="${user}" method="POST">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
            <!--<img src="https://www.inwhatlanguage.com/wp-content/uploads/2017/01/Project-Manager-01.png" alt="Avatar" class="avatar">-->
        </div>

        <div class="container">
            <label ><b>First Name: </b></label>
            <input type="text" th:field="*{firstName}" />

            <label ><b>Last Name: </b></label>
            <input type="text" th:field="*{lastName}" />


            <label ><b>User Name: </b></label>
            <input type="text" th:field="*{username}" />

            <label ><b>Email: </b></label>
            <input type="text" th:field="*{email}" />

            <label ><b>Occupation Data: </b></label>
            <input type="text" th:field="*{occupationData}" />

            <label ><b>Password: </b></label>
            <input type="password" th:field="*{password}" />

            <label ><b>Confirm Password: </b></label>
            <input type="password" th:field="*{conPassword}" />

            <button type="submit">Sign Up</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>


<div id="id03" class="modal">

    <form class="modal-content animate"action="#" th:action="@{/user/studentLogin}" th:object="${student}" method="POST">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
            <!--<img src="https://previews.123rf.com/images/ammentorp/ammentorp1610/ammentorp161000226/64925405-young-businessman-using-laptop-computer-in-office-young-male-executive-working-on-laptop-at-his-desk.jpg" alt="Avatar" class="avatar">-->
        </div>

        <div class="container">
            <label ><b>User Name: </b></label>
            <input type="text" th:field="*{username}" />

            <label ><b>Password</b></label>
            <input type="password" th:field="*{password}" />

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id03').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>


<div id="id04" class="modal">

    <form class="modal-content animate"action="#" th:action="@{/user/studentRegister}" th:object="${student}" method="POST">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id04').style.display='none'" class="close" title="Close Modal">&times;</span>
            <!--<img src="https://www.inwhatlanguage.com/wp-content/uploads/2017/01/Project-Manager-01.png" alt="Avatar" class="avatar">-->
        </div>

        <div class="container">
            <label ><b>First Name: </b></label>
            <input type="text" th:field="*{firstName}" />

            <label ><b>Last Name: </b></label>
            <input type="text" th:field="*{lastName}" />


            <label ><b>User Name: </b></label>
            <input type="text" th:field="*{username}" />

            <label ><b>Email: </b></label>
            <input type="text" th:field="*{email}" />


            <label ><b>Password: </b></label>
            <input type="password" th:field="*{password}" />

            <label ><b>Confirm Password: </b></label>
            <input type="password" th:field="*{conPassword}" />

            <button type="submit">Sign Up</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id04').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>
<!-- Footer Area Starts -->

<!-- Footer Area Starts -->
<footer class="footer-area section-padding">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-3">
                    <div class="single-widget-home mb-5 mb-lg-0">
                        <h3 class="mb-4">top products</h3>
                        <ul>
                            <li class="mb-2"><a href="#">managed website</a></li>
                            <li class="mb-2"><a href="#">managed reputation</a></li>
                            <li class="mb-2"><a href="#">power tools</a></li>
                            <li><a href="#">marketing service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6">
                    <div class="single-widget-home mb-5 mb-lg-0">
                        <h3 class="mb-4">newsletter</h3>
                        <p class="mb-4">You can trust us. we only send promo offers, not a single.</p>
                        <form action="#">
                            <input type="email" placeholder="Your email here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email here'" required>
                            <button type="submit" class="template-btn">subscribe now</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 offset-xl-1 col-lg-3">
                    <div class="single-widge-home">
                        <h3 class="mb-4">instagram feed</h3>
                        <div class="feed">
                            <img src="../static/images/feed1.jpg" th:src="@{/images/feed1.jpg}" alt="feed">
                            <img src="../static/images/feed2.jpg" th:src="@{/images/feed2.jpg}" alt="feed">
                            <img src="../static/images/feed3.jpg" th:src="@{/images/feed3.jpg}" alt="feed">
                            <img src="../static/images/feed4.jpg" th:src="@{/images/feed4.jpg}" alt="feed">
                            <img src="../static/images/feed5.jpg" th:src="@{/images/feed5.jpg}" alt="feed">
                            <img src="../static/images/feed6.jpg" th:src="@{/images/feed6.jpg}" alt="feed">
                            <img src="../static/images/feed7.jpg" th:src="@{/images/feed7.jpg}" alt="feed">
                            <img src="../static/images/feed8.jpg" th:src="@{/images/feed8.jpg}" alt="feed">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="social-icons">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->


<!-- Javascript -->
<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }


    var modal2 = document.getElementById('id02');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal2) {
            modal.style.display = "none";
        }
    }
</script>
<script src="../static/js/vendor/jquery-2.2.4.min.js" th:src="@{/js/vendor/jquery-2.2.4.min.js}" ></script>
<script src="../static/js/vendor/bootstrap-4.1.3.min.js" th:src="@{/js/vendor/bootstrap-4.1.3.min.js}" ></script>
<script src="../static/js/vendor/wow.min.js" th:src="@{/js/vendor/wow.min.js}" ></script>
<script src="../static/js/vendor/owl-carousel.min.js" th:src="@{/js/vendor/owl-carousel.min.js}" ></script>
<script src="../static/js/vendor/jquery.nice-select.min.js" th:src="@{/js/vendor/jquery.nice-select.min.js}" ></script>
<script src="../static/js/vendor/ion.rangeSlider.js" th:src="@{/js/vendor/ion.rangeSlider.js}" ></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}" ></script>
</body>
</html>