<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Job Search</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon.png" type="image/x-icon">

    <!-- CSS Files -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/font-awesome-4.7.0.min.css" th:href="@{/css/font-awesome-4.7.0.min.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/fonts/flat-icon/flaticon.css">
    <link href="../static/css/bootstrap-4.1.3.min.css" th:href="@{/css/bootstrap-4.1.3.min.css}" rel="stylesheet" />
    <link href="../static/css/owl-carousel.min.css" th:href="@{/css/owl-carousel.min.css}" rel="stylesheet" />
    <link href="../static/css/nice-select.css" th:href="@{/css/nice-select.css}" rel="stylesheet" />
    <link href="../static/css/animate-3.7.0.css" th:href="@{/css/animate-3.7.0.css}" rel="stylesheet" />
    <link href="../static/css/logstyle.css" th:href="@{/css/logstyle.css}" rel="stylesheet" />
</head>
<body>
<!-- Preloader Starts -->
<div class="preloader">
    <div class="spinner"></div>
</div>
<!-- Preloader End -->


<!-- Header Area Starts -->
<header>
    <div class="blog-top">
        <div class="top_menu row m-0">
            <div class="container">
                <div class="float-left">
                    <ul class="list header_social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-area blog-menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a href="index.html"><img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <li class="active"><a href="index.html">home</a></li>
                            <li><a href="about.html">about us</a></li>
                            <li><a href="job-category.html">category</a></li>
                            <li><a href="#">blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-home.html">Blog Home</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="contact-us.html">contact</a></li>
                            <li><a href="#">pages</a>
                                <ul class="sub-menu">
                                    <li><a href="job-search.html">Job Search</a></li>
                                    <li><a href="job-single.html">Job Single</a></li>
                                    <li><a href="pricing-plan.html">Pricing Plan</a></li>
                                    <li><a href="elements.html">Elements</a></li>
                                </ul>
                            </li>
                            <li class="menu-btn">
                                <a href="#" class="login">log in</a>
                                <a href="#" class="template-btn">sign up</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

<!-- Page Title Starts -->
<!--<div class="page-title page-title-blog text-center">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-6 offset-md-3">-->
<!--<h2>We Follow Fashion Trends</h2>-->
<!--<p>For whom, who are in extremely love with eco friendly system.</p>-->
<!--<a href="#" class="template-btn">view post details</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- Page Title End -->


<!-- Start blog-posts Area -->
<section class="blog-posts-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 post-list blog-post-list">
                <div class="single-post">


                    <!-- Start nav Area -->

                    <!-- End nav Area -->


                    <!-- Start non accepted request Area -->
                    <section class="comment-sec-area py-5">
                        <div class="container">
                            <div class="row flex-column">
                                <h5 class="text-uppercase pb-80">[[${pendinglistSize}]] New Requests</h5>
                                <br>
                                <div class="comment-list">
                                    <div class="single-comment justify-content-between d-flex" th:each="count:${pendinglist}">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="../static/images/c1.jpg" th:src="@{/images/c1.jpg}" alt="">
                                            </div>
                                            <div class="desc">
                                                <h5><a href="#">[[${count.getfirst_name()}]]  [[${count.getlast_name()}]]</a></h5>
                                                <p class="date">here goes the person data</p>
                                                <!--<p class="comment">-->
                                                <!--Never say goodbye till the end comes!-->
                                                <!--</p>-->
                                            </div>
                                        </div>
                                        <div class="reply-btn">
                                            <a  th:onclick="' window.location.href=\'/user/AcceptFollowerRequest/' + ${count.getRequest_Id()} + '\''" class="btn-reply text-uppercase">Accept</a>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End non accepted request Area -->

                    <!-- Start Accepted request Area -->
                    <section class="comment-sec-area py-5">
                        <div class="container">
                            <div class="row flex-column">
                                <h5 class="text-uppercase pb-80">[[${acceptedlistSize}]] Followers </h5>
                                <br>
                                <div class="comment-list">
                                    <div class="single-comment justify-content-between d-flex" th:each="count:${acceptedlist}">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="../static/images/c1.jpg" th:src="@{/images/c2.jpg}" alt="">
                                            </div>
                                            <div class="desc">
                                                <h5><a href="#">[[${count.getfirst_name()}]]  [[${count.getlast_name()}]]</a></h5>
                                                <p class="date">here goes the person data</p>
                                                <!--<p class="comment">-->
                                                <!--Never say goodbye till the end comes!-->
                                                <!--</p>-->
                                            </div>
                                        </div>
                                        <div class="reply-btn">
                                            <!--<a th:href="@{/user/follow}"   class="btn-reply text-uppercase">Try Test</a>-->
                                            <!--th:onclick="'window.location.href=\'/question/view/' + ${count.questionDataID} + '\''"-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End Accepted request Area -->



                    <!-- Start commentform Area -->


                    <!-- End commentform Area -->


                </div>
            </div>
            <div class="col-lg-4 sidebar mt-5 mt-lg-0">

                <!--<div class="single-widget protfolio-widget">-->
                    <!--<img th:src="@{/images/user2.jpg}" src="../static/images/user2.jpg" alt="">-->
                    <!--<a href="#"><h4>Number Of Users</h4></a>-->
                    <!--<p>-->
                        <!--Currently [[${userCount}]] number of Students and Admins are Following-->
                    <!--</p>-->
                <!--</div>-->

                <div class="single-widget category-widget">
                    <h4 class="title">Post Categories</h4>
                    <ul>
                        <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Techlology</h6> <span>37</span></a></li>
                        <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Lifestyle</h6> <span>24</span></a></li>
                        <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Fashion</h6> <span>59</span></a></li>
                        <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Art</h6> <span>29</span></a></li>
                        <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Food</h6> <span>15</span></a></li>
                        <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Architecture</h6> <span>09</span></a></li>
                        <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Adventure</h6> <span>44</span></a></li>
                    </ul>
                </div>

                <div class="single-widget recent-posts-widget">
                    <h4 class="title">Recent Posts</h4>
                    <div class="blog-list ">
                        <div class="single-recent-post d-flex flex-row">
                            <div class="recent-thumb">
                                <img class="img-fluid" src="assets/images/r1.jpg" alt="">
                            </div>
                            <div class="recent-details">
                                <a href="blog-single.html">
                                    <h4>
                                        Home Audio Recording
                                        For Everyone
                                    </h4>
                                </a>
                                <p>
                                    02 hours ago
                                </p>
                            </div>
                        </div>
                        <div class="single-recent-post d-flex flex-row">
                            <div class="recent-thumb">
                                <img class="img-fluid" src="assets/images/r2.jpg" alt="">
                            </div>
                            <div class="recent-details">
                                <a href="blog-single.html">
                                    <h4>
                                        Home Audio Recording
                                        For Everyone
                                    </h4>
                                </a>
                                <p>
                                    02 hours ago
                                </p>
                            </div>
                        </div>
                        <div class="single-recent-post d-flex flex-row">
                            <div class="recent-thumb">
                                <img class="img-fluid" src="assets/images/r3.jpg" alt="">
                            </div>
                            <div class="recent-details">
                                <a href="blog-single.html">
                                    <h4>
                                        Home Audio Recording
                                        For Everyone
                                    </h4>
                                </a>
                                <p>
                                    02 hours ago
                                </p>
                            </div>
                        </div>
                        <div class="single-recent-post d-flex flex-row">
                            <div class="recent-thumb">
                                <img class="img-fluid" src="assets/images/r4.jpg" alt="">
                            </div>
                            <div class="recent-details">
                                <a href="blog-single.html">
                                    <h4>
                                        Home Audio Recording
                                        For Everyone
                                    </h4>
                                </a>
                                <p>
                                    02 hours ago
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-widget category-widget">
                    <h4 class="title">Post Archive</h4>
                    <ul>
                        <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Dec '17</h6> <span>37</span></a></li>
                        <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Nov '17</h6> <span>24</span></a></li>
                        <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Oct '17</h6> <span>59</span></a></li>
                        <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Sep '17</h6> <span>29</span></a></li>
                        <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Aug '17</h6> <span>15</span></a></li>
                        <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Jul '17</h6> <span>09</span></a></li>
                        <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Jun '17</h6> <span>44</span></a></li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- End blog-posts Area -->


<!-- Footer Area Starts -->
<footer class="footer-area section-padding">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-3">
                    <div class="single-widget-home mb-5 mb-lg-0">
                        <h3 class="mb-4">top products</h3>
                        <ul>
                            <li class="mb-2"><a href="#">managed website</a></li>
                            <li class="mb-2"><a href="#">managed reputation</a></li>
                            <li class="mb-2"><a href="#">power tools</a></li>
                            <li><a href="#">marketing service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6">
                    <div class="single-widget-home mb-5 mb-lg-0">
                        <h3 class="mb-4">newsletter</h3>
                        <p class="mb-4">You can trust us. we only send promo offers, not a single.</p>
                        <form action="#">
                            <input type="email" placeholder="Your email here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email here'" required>
                            <button type="submit" class="template-btn">subscribe now</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 offset-xl-1 col-lg-3">
                    <div class="single-widge-home">
                        <h3 class="mb-4">instagram feed</h3>
                        <div class="feed">
                            <img src="../static/images/feed1.jpg" th:src="@{/images/feed1.jpg}" alt="feed">
                            <img src="../static/images/feed2.jpg" th:src="@{/images/feed2.jpg}" alt="feed">
                            <img src="../static/images/feed3.jpg" th:src="@{/images/feed3.jpg}" alt="feed">
                            <img src="../static/images/feed4.jpg" th:src="@{/images/feed4.jpg}" alt="feed">
                            <img src="../static/images/feed5.jpg" th:src="@{/images/feed5.jpg}" alt="feed">
                            <img src="../static/images/feed6.jpg" th:src="@{/images/feed6.jpg}" alt="feed">
                            <img src="../static/images/feed7.jpg" th:src="@{/images/feed7.jpg}" alt="feed">
                            <img src="../static/images/feed8.jpg" th:src="@{/images/feed8.jpg}" alt="feed">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="social-icons">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->


<!-- Javascript -->
<script src="../static/js/vendor/jquery-2.2.4.min.js" th:src="@{/js/vendor/jquery-2.2.4.min.js}" ></script>
<script src="../static/js/vendor/bootstrap-4.1.3.min.js" th:src="@{/js/vendor/bootstrap-4.1.3.min.js}" ></script>
<script src="../static/js/vendor/wow.min.js" th:src="@{/js/vendor/wow.min.js}" ></script>
<script src="../static/js/vendor/owl-carousel.min.js" th:src="@{/js/vendor/owl-carousel.min.js}" ></script>
<script src="../static/js/vendor/jquery.nice-select.min.js" th:src="@{/js/vendor/jquery.nice-select.min.js}" ></script>
<script src="../static/js/vendor/ion.rangeSlider.js" th:src="@{/js/vendor/ion.rangeSlider.js}" ></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}" ></script>

</body>
</html>

