<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Job Search</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon.png" type="image/x-icon">

    <!-- CSS Files -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/font-awesome-4.7.0.min.css" th:href="@{/css/font-awesome-4.7.0.min.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/fonts/flat-icon/flaticon.css">
    <link href="../static/css/bootstrap-4.1.3.min.css" th:href="@{/css/bootstrap-4.1.3.min.css}" rel="stylesheet" />
    <link href="../static/css/owl-carousel.min.css" th:href="@{/css/owl-carousel.min.css}" rel="stylesheet" />
    <link href="../static/css/nice-select.css" th:href="@{/css/nice-select.css}" rel="stylesheet" />
    <link href="../static/css/animate-3.7.0.css" th:href="@{/css/animate-3.7.0.css}" rel="stylesheet" />
    <link href="../static/css/logstyle.css" th:href="@{/css/logstyle.css}" rel="stylesheet" />

    <style>

        .template-btn{
            margin-left: 1000px;
            margin-right:120px;
            margin-bottom: 120px;
        }

        select {
            padding: 5px 8px;
            width: 500px;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;

        }

        div.answerSummery {
            padding: 5px 8px;
            width: 1000px;
            border: none;
            box-shadow: none;
            background-color:lightsteelblue;


        }
    </style>

</head>

<body>

<!-- Preloader Starts -->
<div class="preloader">
    <div class="spinner"></div>
</div>
<!-- Preloader End -->

<!-- Header Area Starts -->
<header class="header-area single-page">
    <div class="header-top1">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a href="index.html"><img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-menu main-menu-light">
                        <ul>
                            <li class="active"><a href="index.html">home</a></li>
                            <li><a href="about.html">about us</a></li>
                            <li><a th:href="@{/user/followereManage}">category</a></li>
                            <li><a href="#">blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-home.html">Blog Home</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="contact-us.html">contact</a></li>
                            <li><a href="#">pages</a>
                                <ul class="sub-menu">
                                    <li><a href="job-search.html">Job Search</a></li>
                                    <li><a href="job-single.html">Job Single</a></li>
                                    <li><a href="pricing-plan.html">Pricing Plan</a></li>
                                    <li><a href="elements.html">Elements</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>



<div class="answerSummery">
    <div class="single-widget category-widget" >
        <ul >
            <li>
                <a class="justify-content-between align-items-center d-flex">
                    <h6>Number OF Questions</h6>
                    <h6>Unanswered</h6>
                    <h6>Incorrect</h6>
                    <h6>Total marks</h6>
                    <h6>Your Marks</h6>
                    <h6>Grade</h6>
                </a>
            </li>
            <!--<li th:each="count:${list}">-->
                <!--<a href="#" class="justify-content-between align-items-center d-flex">-->
                    <!--<h6>[[${count.question_Number}]]</h6>-->
                    <!--<span>[[${count.answered_Or_Not}]]</span>-->
                <!--</a>-->
            <!--</li>-->
            <li th:each="count:${list}">
                <a href="#" class="justify-content-between align-items-center d-flex">
                    <h6>30</h6>
                    <h6>2</h6>
                    <h6>5</h6>
                    <h6>100</h6>
                    <h6>80</h6>
                    <h6>A</h6>

                </a>
            </li>
        </ul>
    </div>
</div>


    <div class="container">
        <div class="row">
            <div class="col-lg-12">


                <div class="single-job mb-4 d-lg-flex justify-content-between" th:each="count:${list}">
                    <div class="job-text">
                        <ul class="mt-4">
                            <li class="mb-3">[[${count.question_Number}]].[[${count.quest}]]</li>
                            <li class="mb-3">(1).[[${count.ans_1}]]</li>
                            <li class="mb-3">(2).[[${count.ans_2}]]</li>
                            <li class="mb-3">(3).[[${count.ans_3}]]</li>
                            <li class="mb-3">(4).[[${count.ans_4}]]</li>
                            <li class="mb-3"><mark style="background-color: #b21f2d"> Correct Answer/s:[[${count.corr_Ans_1}==0?'':${count.corr_Ans_1}]]    [[${count.corr_Ans_2}==0?'':${count.corr_Ans_2}]]   [[${count.corr_Ans_3}==0?'':${count.corr_Ans_3}]]   [[${count.corr_Ans_4}==0?'':${count.corr_Ans_4}]] </mark>
                                             <mark style="background-color:#9fcdff"> Your Answer/s:[[${count.stud_Ans_1}==0?'':${count.stud_Ans_1}]]    [[${count.stud_Ans_2}==0?'':${count.stud_Ans_2}]]   [[${count.stud_Ans_3}==0?'':${count.stud_Ans_3}]]   [[${count.stud_Ans_4}==0?'':${count.stud_Ans_4}]] </mark></li>
                        </ul>
                    </div>
                    <div class="job-img align-self-center">
                        <img src="../static/images/mcq_two.png" th:src="@{/images/mcq_two.png}" alt="job">
                    </div>
                    <!--<div class="job-btn align-self-center">-->
                        <!--<a  class="third-btn job-btn1"  th:onclick="'window.location.href=\'/question/view/' + ${count.stud_Ans_1} + '\''">view</a>-->
                        <a href="#" class="third-btn" th:onclick="' window.location.href=\'/question/delete/' + ${count.question_Number} + '\''">delete</a>

                    <!--</div>-->
                </div>


            </div>
        </div>

    </div>
</section>
<!-- Jobs Area End -->



<!-- Javascript -->
<script src="../static/js/vendor/jquery-2.2.4.min.js" th:src="@{/js/vendor/jquery-2.2.4.min.js}" ></script>
<script src="../static/js/vendor/bootstrap-4.1.3.min.js" th:src="@{/js/vendor/bootstrap-4.1.3.min.js}" ></script>
<script src="../static/js/vendor/wow.min.js" th:src="@{/js/vendor/wow.min.js}" ></script>
<script src="../static/js/vendor/owl-carousel.min.js" th:src="@{/js/vendor/owl-carousel.min.js}" ></script>
<script src="../static/js/vendor/jquery.nice-select.min.js" th:src="@{/js/vendor/jquery.nice-select.min.js}" ></script>
<script src="../static/js/vendor/ion.rangeSlider.js" th:src="@{/js/vendor/ion.rangeSlider.js}" ></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}" ></script>

</body>
</html>

